:root {
  --primary-color: #1c1c1c;
  --project-body-color: #101010;
  --project-logo-color: #242424;
  --gradient-first-color: #ff0a78;
  --gradient-second-color: #5773ff;
  --footer-color: #1a1a1a;
}

* {
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--primary-color);
  margin: 0;
}

h1 h2 h3 h4 h5 h6 p div {
  padding: 0;
  margin: 0;
}

h1 {
  background-image: linear-gradient(
    45deg,
    var(--gradient-first-color),
    var(--gradient-second-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  padding: 0 4rem;
  ul {
    li {
      padding: 0.5rem 0.5rem;
    }
  }
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
  padding: 1rem;
  img {
    height: 300px;
    width: 300px;
  }
  .intro {
    margin-left: 5rem;
    width: 40%;
    padding: 1rem;

    .contact-info {
      display: flex;
      align-items: center;
      justify-content: center;
      .contact-logo {
        padding: 1rem;
      }
    }
  }
}

#headline-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 9rem auto;
  text-align: center;
  .center {
    width: 60%;
  }
}

.logos {
  img {
    height: 80px;
    width: 80px;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
}

#projects-container {
  padding: 0 5%;

  .header {
    position: relative;
    margin: 5rem auto;
    .rectangle {
      position: absolute;
      height: 6px;
      width: 150px;
    }
  }

  .project {
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--project-body-color);

    img {
      width: 150px;
      height: 150px;
    }

    .white-bg {
      text-align: center;
      background-color: #fff;
      padding: 3rem;
      border-radius: 10px 10px 0 0;
    }

    .project-intro {
      margin: 0.5rem;
      padding: 1rem;
    }

    .project-logo-container {
      text-align: center;
      background-color: var(--project-logo-color);
      padding: 3rem;
      border-radius: 10px 10px 0 0;
    }
  }

  .project:hover {
    transform: translateY(-0.1rem);
    transition: transform 154ms;
  }
}

footer {
  margin-top: 6rem;
  padding: 2rem;
  background-color: var(--footer-color);
  text-align: center;
}

@media (max-width: 1050) {
  #projects-container {
    padding: 0 1%;
  }
}

@media (max-width: 990px) {
  #hero {
    display: block;
    text-align: center;
    .intro {
      width: 65%;
      padding: 1rem;
      margin: 3rem auto;
    }
  }

  #projects-container {
    .project-5 {
      width: 50%;
    }
  }
}

@media (max-width: 775px) {
  #projects-container {
    padding: 0 3%;
  }
}

@media (max-width: 767px) {
  #projects-container {
    padding: 0 20%;

    .project-5 {
      width: 100%;
    }
  }
}

@media (max-width: 650px) {
  nav {
    padding: 0 2rem;
    ul {
      li {
        padding: 0.5rem 0.5rem;
      }
    }
  }

  #hero {
    .intro {
      width: 75%;
      padding: 1rem;
      margin: 3rem auto;
    }
  }

  h1 {
    font-size: 1.6rem;
  }

  #headline-text {
    .center {
      width: 70%;
    }
  }
  #projects-container {
    padding: 0 16%;

    .project-5 {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  nav {
    padding: 0 1rem;
    ul {
      li {
        padding: 0.5rem 0.5rem;
      }
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  #headline-text {
    .center {
      width: 70%;
    }
  }

  #projects-container {
    padding: 0 11%;

    .project-5 {
      width: 100%;
    }
  }
}
